#recordButton {
  font-size: 35px;
  left: 200px;
  text-align: center;
  color: rgb(130, 29, 29);
  width: auto;
  margin: auto;
}
#stopRecordButton {
  font-size: 35px;
  left: 200px;
  text-align: center;
  color: rgb(130, 29, 29);
  width: auto;
  margin: auto;
}
